[[source]]
url = "https://devpi.library.illinois.edu/production/release/+simple/"
verify_ssl = true
name = "uiuclibrary"

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pykdu-compress = ">=0.1.1"

[dev-packages]
flake8 = "*"
pytest = "*"
coverage = "*"
pytest-runner = "*"
sphinx = "*"
lxml = "*"
tox = "*"
mypy = ">=0.641"